body {
    background-color: mintcream;
}

tr:hover{
    background-color: pink;
}
td:hover{
    background-color: deepskyblue;
}

h1 {
    color: limegreen;
    font-size: 50px;
}

button {
    color: black;
}

.dark {
    filter: brightness(0.7);
}

.bg-red {
    background-color: red;
    color: white;
}
.bg-vio {
    background-color: darkviolet;
    color: white;
}
.bg-green {
    background-color: greenyellow;
    color: white;
}